.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.2)), url('https://img.freepik.com/free-photo/aerial-shot-boats-spiti-river-near-kaza-india_181624-29225.jpg?w=900&t=st=1689232922~exp=1689233522~hmac=78d8e5b61184e5b70887aa6bc61de2f192541f7ef128d46fcd6be98dac7bc02b');
    background-size: cover;

}
.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.registerForm>label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(24, 138, 138);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(0, 19, 128);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}